@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --accent-color: #00f5a0;
  --secondary-color: #333333;
  --text-secondary: #8c8c8c;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

.app {
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  /* zoom: 1.2; */
}

.main-content {
  padding-top: 5vh; /*Use a percentage of the viewport height for dynamic scaling */
  padding: 0 5vh;
  max-width: 70vw;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .main-content {
    padding-top: 3vh; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .main-content {
    padding-top: 2vh; /* Further reduce padding for very small screens */
  }
}